In [19]:
# https://pypi.org/project/yfinance/
# pip install yfinance in terminal
import yfinance as yf
import pandas as pd

In [20]:
#create yahoo finance objects

lac = yf.Ticker("LAC") 
sli = yf.Ticker("SLI") 
lthm = yf.Ticker("LTHM") 
lit = yf.Ticker("LIT") 
batt = yf.Ticker("BATT") 
pll = yf.Ticker("PLL")
alb = yf.Ticker("ALB")
sqm = yf.Ticker("SQM")
orocf = yf.Ticker("OROCF")
rcktf = yf.Ticker("RCKTF")

In [21]:
# get 2 years of historical market data
lac_hist = lac.history(period="2y")
sli_hist = sli.history(period="2y")
lthm_hist = lthm.history(period="2y")
lit_hist = lit.history(period="2y")
batt_hist = batt.history(period="2y")
pll_hist = pll.history(period="2y")
alb_hist = alb.history(period="2y")
sqm_hist = sqm.history(period="2y")
orocf_hist = orocf.history(period="2y")
rcktf_hist = rcktf.history(period="2y")

In [18]:
#create empty dataframe

prices = pd.DataFrame()

#put only the closing price into the new 'prices' dataframe

prices["lac"]= lac_hist.loc[:,'Close']
prices['sli']= sli_hist.loc[:,'Close']
prices['lthm']= lthm_hist.loc[:,'Close']
prices['batt']= batt_hist.loc[:,'Close']
prices['pll']= pll_hist.loc[:,'Close']
prices["alb"]= alb_hist.loc[:,'Close']
prices['sqm']= sqm_hist.loc[:,'Close']
prices['orocf']= orocf_hist.loc[:,'Close']
prices['rcktf']= rcktf_hist.loc[:,'Close']

prices

,lac,sli,lthm,batt,pll,alb,sqm,orocf,rcktf
Date,,,,,,,,,
2020-07-06,5.660000,0.800,6.470000,9.525015,6.170000,79.741287,26.195028,1.75,0.43900
2020-07-07,5.340000,0.773,5.950000,9.427522,6.050000,76.579910,25.880877,1.80,0.43900
2020-07-08,5.360000,0.765,6.240000,9.578635,6.230000,76.530815,26.056429,1.83,0.43900
2020-07-09,5.230000,0.760,6.030000,9.486017,6.610000,74.370872,25.160162,1.78,0.40237
2020-07-10,5.240000,0.873,6.220000,9.534763,6.730000,77.453712,25.557476,1.78,0.40237
...,...,...,...,...,...,...,...,...,...
2022-06-28,21.549999,4.510,23.820000,15.120000,40.950001,223.190002,87.089996,7.39,3.59000
2022-06-29,20.500000,4.230,22.790001,14.720000,38.730000,211.889999,84.300003,7.13,3.40000
2022-06-30,20.129999,4.240,22.690001,14.630000,36.410000,208.979996,83.529999,7.12,3.35000
2022-07-01,20.120001,4.240,22.170000,14.430000,35.860001,205.149994,84.669998,7.04,3.35000
2022-07-05,19.820000,4.130,21.719999,14.330000,35.480000,200.429993,84.669998,6.78,3.07000

In [39]:
columns = [("lac", "close"), ("sli", "close"), ("lthm", "close"), ("batt", "close"), ("pll", "close"), ("alb", "close"), ("sqm", "close"), ("orocf", "close"), ("rcktf", "close")]

prices.columns = pd.MultiIndex.from_tuples(columns)

prices

,lac,sli,lthm,batt,pll,alb,sqm,orocf,rcktf
,close,close,close,close,close,close,close,close,close
Date,,,,,,,,,
2020-07-06,5.660000,0.800,6.470000,9.525015,6.170000,79.741287,26.195028,1.75,0.43900
2020-07-07,5.340000,0.773,5.950000,9.427522,6.050000,76.579910,25.880877,1.80,0.43900
2020-07-08,5.360000,0.765,6.240000,9.578635,6.230000,76.530815,26.056429,1.83,0.43900
2020-07-09,5.230000,0.760,6.030000,9.486017,6.610000,74.370872,25.160162,1.78,0.40237
2020-07-10,5.240000,0.873,6.220000,9.534763,6.730000,77.453712,25.557476,1.78,0.40237
...,...,...,...,...,...,...,...,...,...
2022-06-28,21.549999,4.510,23.820000,15.120000,40.950001,223.190002,87.089996,7.39,3.59000
2022-06-29,20.500000,4.230,22.790001,14.720000,38.730000,211.889999,84.300003,7.13,3.40000
2022-06-30,20.129999,4.240,22.690001,14.630000,36.410000,208.979996,83.529999,7.12,3.35000
2022-07-01,20.120001,4.240,22.170000,14.430000,35.860001,205.149994,84.669998,7.04,3.35000
2022-07-05,19.820000,4.130,21.719999,14.330000,35.480000,200.429993,84.669998,6.78,3.07000

In [47]:
# Filter the date index and close columns
signals_df = prices.loc[:,["close"]]

# Use the pct_change function to generate  returns from close prices
#signals_df["Actual Returns"] = signals_df["close"].pct_change()

# Drop all NaN values from the DataFrame
#signals_df = signals_df.dropna()

# Review the DataFrame
#display(signals_df.head())
#display(signals_df.tail())

KeyError: "['close'] not in index"

                  lac
                close
Date
2020-07-06   5.660000
2020-07-07   5.340000
2020-07-08   5.360000
2020-07-09   5.230000
2020-07-10   5.240000
...               ...
2022-06-28  21.549999
2022-06-29  20.500000
2022-06-30  20.129999
2022-07-01  20.120001
2022-07-05  19.820000

[504 rows x 1 columns]